<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Myanmar</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="crossorigin=""
      />
    <link rel="icon"
      href="https://cdn2.iconfinder.com/data/icons/world-flag-icons/256/Flag_of_Burma_Myanmar.png"
      \>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
  </head>
  <body>
      <div class="container mainContainer">
          <div class = "row"
      </div>

 
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="crossorigin=""></script>
<!-- API key -->
<script type="text/javascript" src="../static/js/config.js"></script>
<!-- JS -->
<script type="text/javascript" src="../static/js/Myanmar.js"></script>
<script type="text/javascript" src="../static/leaflet-heat.js"></script>
<script type="text/javascript" src="../static/map.js"></script>
<script type="text/javascript" src="../static/marker.js"></script>
</body>

</html>